body {
  background-color: black;
}

h1 {
  color: white;
  font-family: "Inconsolata";
  text-align: center;
  padding-top: 8px;
  font-size: 15px;
}

p {
  color: white;
}

.menu {
  font-size: 60px;
  font-family: "Inconsolata", monospace;
  color: white;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 13vw;
  height: 7vw;
  object-fit: fill;
  min-width: 200px;
  margin: 10px;
  /* flex-shrink: none; */
}

.container {
  display: flex;
  justify-content: center;
  /* background-color: red; */
  flex-wrap: wrap;

   grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-rows: 1fr;
  grid-column-gap: 1em;
}

@media screen and (min-width: 1500px) {
    .container {
        grid-template-columns: auto auto auto auto auto auto;
    }
    img {
      width: 14vw;
      height: 9vw;
  object-fit: cover;
    }
    h1 {
      font-size: 70px;
    }
}

.footer {
  padding-bottom: 2%;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  align-content: center;
  font-family: inconsolata;
  font-size: 14px;
}

.images {
  grid-column: 1;
  grid-row: 1;
}

ul {
  list-style-type: none;
}
