.info-box {
  left: 0vw;
  width: 100vw;
  position: fixed;
  height: 80px;
  background-color: #fff;
  bottom: 0;
  z-index: 1000;
}

.info-text {
  padding: 5px 30px 5px 0;
}

.h1 {
  font-family: helvetica;
  font-size: 16pt;
}
