body, html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

#svg {
  /* background-color: blue; */
  width: 100%;
  height: 100%;
}

#left {
  color: orange;
}

#top {
  color: green;
}

#right {
}

#bottom {
}
